<%- include ../layout/head -%>
<div class="mb-3 card">
    <div class="card-header">
        <h4 class="card-title">Ubah Password</h4>
    </div>
    <div class="card-body">
        <% if (locals.validate) { %>
            <% if (validate.valid) { %>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%=validate.msg%>
            </div>
            <% } else { %>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>    
                <%for(var i in validate) {%>
                    <%=validate[i].msg%><br>
                <% } %>
            </div>
            <% }%>
        <% }%>
        <form action="/ubah-password" method="post">
            <div class="form-row mb-3">
                <div class="col-form-label col-lg-3 col-md-4 col-xl-2 text-md-right">
                    <label>Password Lama</label>
                </div>
                <div class="col-lg-9 col-md-8 col-xl-10">
                    <input type="password" class="form-control" placeholder="Password Lama" name="oldPass"/>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-form-label col-lg-3 col-md-4 col-xl-2 text-md-right">
                    <label>Password Baru</label>
                </div>
                <div class="col-lg-9 col-md-8 col-xl-10">
                    <input type="password" class="shadow-none form-control" placeholder="Password Baru" name="newPass"/>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-form-label col-lg-3 col-md-4 col-xl-2 text-md-right">
                    <label>Konfirmasi Password</label>
                </div>
                <div class="col-lg-9 col-md-8 col-xl-10">
                    <input type="password" class="form-control" placeholder="Konfirmasi Password" name="rePass"/>
                </div>
            </div>
            
            <div class="form-row mb-3 align-middle">
                <div class="offset-xl-2 offset-lg-3 offset-md-4 col-lg-9 col-md-8 col-xl-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="mif-paper-plane"></i>
                        <span>
                            Ganti Password
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include ../layout/foot -%>