<%- include layout/head -%>
<div class="mb-3 card">
    <div class="card-header">
        <h4 class="card-title">Dashboard</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <h5>Kelompok Usia</h5>
                <div class="p-3 border">
                    <canvas id="age"></canvas>
                </div>
            </div>
            <div class="col-sm-6">
                <h5>Warga Jenis Kelamin</h5>
                <div class="p-3 border">
                    <canvas id="gen"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include layout/foot -%>
